body {
font-family: "Crimson Text", serif;
font-weight: normal;
text-transform: lowercase;
font-style: ;
text-align: ;
font-size: 1.5em;
width: ;
background-color: #C9C0B9;
color: black;
margin: 10% 15%;
}

/* titulo main */
h1 {
  font-size: 1em;
  font-weight: bold;
  text-align: center;
}

/* subtitulo principal */
h2 {
  font-size: 1em;
  font-weight: inherit;
  font-style: italic;
}

/* link entrada */
a {
  color: inherit;
  text-decoration: underline;
  font-weight: bold;
}

/* cuerpo entrada */
p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  line-height: normal;
  max-height: 4;
}

/* fecha entrada */
h3 {
  font-style: italic;
  font-size: inherit;
  font-weight: inherit;
  text-align: right;
}
