@font-face {
    font-family: "Averia Serif Libre";
    src: url("files/fonts/AveriaSerifLibre-Bold.ttf");
}

body {
	--pink: #EEAEB9;
	--white: #F7F7F7;
	--black: #151515;
	--bor-rad: 0.5em;
	font-family: "Space Mono",monospace;
	font-size: 1em;
	background-color: var(--white);
	background-attachment: fixed;
	background-position: center;
	background-image: url("files/images/background.jpg");
	margin: 2em;
}

.all {
	margin: 1em 0em !important;
	background-color: var(--white);
	border: 2px solid var(--black);
	padding-bottom: 2em;
	border-radius: var(--bor-rad);
}

.index-title {
	font-family: "Averia Serif Libre", serif;
	font-weight: bold;
	font-size: 2em;
	color: var(--black);
	margin-top: 1.6em;
}

.index-body {
	margin: 1em 0 2em 0;
	border-bottom: 2px solid var(--black);
	padding-bottom: 1.5em;
}

.index-link {
	font-family: "Averia Serif Libre", serif;
	font-weight: bold;
	font-size: 2em;
	color: var(--pink);
}
.index-container {
	margin-bottom: 1em;
}

.div {
	padding: 2em;
	padding-bottom: 0;
	overflow-wrap: break-word;
}

.a-header {
	text-decoration: none;
}

.header {
	font-family: "Averia Serif Libre", serif;
	font-weight: bold;
	font-size: 3em;
	padding: 0.5em;
	padding-bottom: 0;
	padding-left: 0.6em;
}

.subheader {
	font-size: 1.5em;
	font-style: italic;
	color: var(--black);
	border-bottom: 2px solid var(--black);
	padding-bottom: 2em;
	margin-left: 1.325em;
	margin-right: 1.325em;
}

.non-a-cont {
	margin: -2em;
	margin-top: 0;
}

.non-a-header {
	padding-top: 0;
}

hr {
	border: 1px solid var(--black);
	background-color: var(--black);
}

strong {
	color: var(--black);
	font-weight: bold;
}

.topbar {
	font-family: "Averia Serif Libre", serif;
	font-weight: bold;
	font-size: 2em;
}

a {
	font-size: 1em;
	color: black;
	text-decoration: underline var(--black);
}

.topbar a {
	line-height: 1.5em
}

.container-all {
	margin: 2em;
	border-radius: var(--bor-rad);
}

.container {
	border: 2px solid var(--black);
	border-right: 4px solid var(--black);
	border-bottom: 4px solid var(--black);
	padding: 0em 2em 1em 2em;
	margin-bottom: 2em;
	color: white;
	background-color: var(--white);
	border-radius: var(--bor-rad);
}

.container-title {
	font-family: "Averia Serif Libre", serif;
	font-weight: bold;
	font-size: 2em;
	line-height: 1em;
	color: var(--black);
	text-decoration: underline var(--white);
}

.container-p {
	text-decoration: none;
	color: var(--black);
	text-decoration: underline var(--white);
}

.link {
	color: black;
	text-decoration: underline var(--black);
	font-weight: bold;
}

.link:hover {
	text-decoration: underline var(--black);
}

.title {
	font-family: "Averia Serif Libre", serif;
	color: var(--black);
	font-size: 2.5em;
	font-weight: bold;
	text-decoration: none;
}

p {
	margin-top: 1em;
}

h2 {
	color: var(--black);
	font-size: 2em;
	font-family: "Space Mono",monospace;
	margin-top: 0;
}

blockquote {
	border-left: 2px solid var(--black);
	padding-left: 1em;
	padding-bottom: 0;
	margin-bottom: 2em;
	margin-top: 1em;
	margin-left: 0;
	font-style: italic;
}

.timestamp {
	font-style: italic;
}

.img_body_small {
	height: auto;
	margin-bottom: 0.5em;
}

.img_body_big {
	width: 100%;
	height: auto;
}

.footer {
	text-align: right;
	padding-right: 0;
	font-style: italic;
	margin-top: -2em;
}

.reco-cont {
	margin: 2em 2em 0em 2em;
	position: relative;
	background-color: var(--white);
	border: 2px solid var(--black);
	padding: 1em;
}

img {
	width: calc(100% - 0.5em);
	padding: 0.25em;
	padding-bottom: 0.1em;
}

video {
	width: calc(100% - 0.5em);
	padding: 0.25em;
	padding-bottom: 0.1em;
}

.reco-title {
	padding: 0.25em;
	padding-bottom: 0;
	font-family: "Space Mono",monospace;
}

.reco-text {
	padding: 0.25em;
	padding-top: 0;
	margin-bottom: 0;
	border: none;
}

.gallery-img {
	margin-bottom: 1.5em;
}

@media (min-width: 981px) {

.all {
	margin: 4em 2em !important;
	background-color: var(--white);
}

.img_body_small {
	width: calc(50% - 2em);
	margin-right: 1em;
	height: auto;
}

.img-reco {
	height: auto;
	max-width: 50%;
	float: right;
	padding-bottom: 4px;
}

.reco-cont {
	height: auto;
	padding: 1em;
	overflow: auto;
}

.gallery-cont {
	column-count: 2;
	column-gap: 1.5em;
}

}