body {
font-family: serif;
font-weight: bold;
text-transform: ;
font-style: ;
text-align: ;
width: ;
color: #223843;
background-color: #E5989B;
margin: 5em;
}

.h1 {
 font-size: 4em;
 text-transform: uppercase;
}

.h2 {
 font-size: 2em;
 text-transform: lowercase;
}

hr {
 color: #223843;
 background-color: #223843;
 height: .5em;
 border-radius: 2em;
 border: 0;
 margin: 2em 0;
}
