body {
	--pink: #EEAEB9;
	--white: #F7F7F7;
	font-family: "Crimson Text Regular", serif;
	font-size: 1em;
	background-color: var(--white);
	background-attachment: fixed;
	background-position: center;
}

.all {
	margin: 0;
}

.div {
	padding: 2em;
	background-color: var(--white);
}

.header {
	font-family: "Helvetica Neue", Arial, sans-serif;
	font-weight: bold;
	font-size: 4em;
}

.subheader {
	font-size: 1.5em;
	color: var(--pink);
}

hr {
	border: 0px solid var(--pink);
}

.topbar {
	font-family: "Helvetica Neue", Arial, sans-serif;
	font-weight: bold;
	font-size: 2em;
}

a {
	font-size: 1em;
	color: black;
	text-decoration: underline var(--pink);
}

.topbar a {
	line-height: 1.5em
}

.container-all {
	margin: 2em;
}

.container {
	border: 4px solid var(--pink);
	padding: 0 2em 1em 2em;
	margin-bottom: 2em;
	color: white;
	background-color: var(--pink);
}

.container-title {
	font-family: "Helvetica Neue", Arial, sans-serif;
	font-weight: bold;
	font-size: 2em;
	line-height: 1em;
}

.container-p {
	text-decoration: none;
}

.link {
	color: var(--pink);
}

.link:hover {
	text-decoration: underline var(--pink);
}

.title {
	font-family: "Helvetica Neue", Arial, sans-serif;
	color: var(--pink);
	font-size: 2em;
	font-weight: bold;
}

p {
	margin-top: 1em;
}

.timestamp {
	font-style: italic;
}

.img_body_small {
	width: calc(50% - 2em);
	margin-right: 1em;
	height: auto;
}

.img_body_big {
	width: 100%;
	height: auto;
}

.footer {
	text-align: right;
	padding-right: 0;
}

b {
	color: var(--pink);
}

.reco-cont {
	margin: 0em 2em 2em 2em;
	position: relative;
	background-color: var(--white);
}

img {
	width: calc(100% - 0.5em);
	padding: 0.25em;
	padding-bottom: 0.1em;
}

.reco-title {
	padding: 0.25em;
	padding-bottom: 0;
	font-weight: bold;
	font-family: "Helvetica Neue", Arial, sans-serif;
}

.reco-text {
	padding: 0.25em;
	padding-top: 0;
	border: none;
}

@media (min-width: 981px) {
	
img {
	width: 30%;
	height: 100%;
}

.reco-cont {
	height: auto;
}
	
.reco-title {		
	position: absolute;
	left: calc(30% + 3em);
	top: 0em;
	padding: 0em;
}

.reco-text {		
	position: absolute;
	left: calc(30% + 3em);
	top: 1em;
	padding: 0;
	padding-right: 1em;
}

}