body {
	--pink: #DB97A6;
	font-family: "Inconsolata", serif;
	font-size: 1em;
	background-color: var(--pink);
	background-image: url("files/images/background.jpg");
	background-attachment: fixed;
	background-position: center;
}

.all {
	margin: 2em;
}

.div {
	padding: 2em;
	margin-bottom: 2em;
	background-color: white;
}

.header {
	font-weight: bold;
	font-size: 4em;
}

.subheader {
	font-weight: bold;
	font-size: 1.5em;
	color: var(--pink);
}

hr {
	border: 1px solid var(--pink);
}

.topbar {
	font-weight: bold;
	font-size: 1.5em;
}

a {
	font-size: 1em;
	color: black;
	text-decoration: underline var(--pink);
}

.topbar a {
	line-height: 2em;
}

.link {
	color: var(--pink);
}

.link:hover {
	text-decoration: underline var(--pink);
}

.title {
	color: var(--pink);
	font-size: 1.5em;
	font-weight: bold;
}

p {
	margin-top: 1em;
	padding-bottom: 0.5em;
	border-bottom: 2px solid var(--pink);
}

.img_body_small {
	width: calc(50% - 2em);
	margin-right: 1em;
	height: auto;
}

.img_body_big {
	width: 100%;
	height: auto;
}

.footer {
	text-align: right;
	padding-bottom: 0.5em;
	border-bottom: 2px solid var(--pink);
}

b {
	color: var(--pink);
}

.reco-cont {
	margin-bottom: 2em;
	position: relative;
	background-color: white;
}

img {
	width: calc(100% - 0.5em);
	padding: 0.25em;
	padding-bottom: 0.1em;
}

.reco-title {
	padding: 1em;
	padding-bottom: 0;
	font-weight: bold;
}

.reco-text {
	padding: 1em;
	padding-top: 0;
	border: none;
}

@media (min-width: 981px) {
	
img {
	width: 25%;
	height: 100%;
}

.reco-cont {
	height: auto;
}
	
.reco-title {		
	position: absolute;
	left: 28%;
	top: 1em;
	padding: 0em;
}

.reco-text {		
	position: absolute;
	left: 28%;
	top: 2em;
	padding: 0;
	padding-right: 1em;
}

}