body {
font-family: monospace;
font-weight: bold;
color: black;
background-color: white;
margin: 5em;
}

.h1 {
 font-size: 4em;
 text-transform: uppercase;
}

.h2 {
 font-size: 2em;
 text-transform: lowercase;
}

hr {
 color: black;
 background-color: black;
 height: .5em;
 border-radius: 2em;
 border: 0;
 margin: 2em 0;
}
