body {
	margin: 0;
	background-color: #263238;
	color: white;
	font-family: "Roboto Mono", monospace;
	font-weight: normal;
	text-align: center;
	font-size: 1em;
}

.titulo {
	color: turquoise;
	font-family: 'Major Mono Display', monospace;
	font-size: 3em;
	font-weight: bold;
	text-align: center;
	position: absolute;
	top: 15%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
}

.sub {
	font-size: 1em;
	font-weight: normal;
	text-align: center;
	font-style: italic;
	position: absolute;
	top: 30%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
}

hr {
	background-color: white;
	color: white;
	position: absolute;
	top: 35%;
	left: 0;
	right: 0;
	width: 12em;
	border: 1px solid white;
	border-radius: 1px;
}

.albumcont-1, .albumcont-2, .albumcont-3, .albumcont-4 {
	background-color: #263238;
	border: 2px solid white;
	border-radius: 1px;
	width: 70%;
	position: absolute;
	left: 15%;
}

.albumcont-1 {
	top: 42%;
}

.albumcont-2 {
	top: 62%;
}

.albumcont-3 {
	top: 82%;
}

.albumcont-4 {
	top: 102%;
	margin-bottom: 2em;
}

.albumcont-1:hover, .albumcont-2:hover, .albumcont-3:hover, .albumcont-4:hover {
	background-color: white;
	color: #263238;
}

.album-desc {
	margin: 1em;
}

a {
	color: white;
}
