body {
font-family: "Helvetica Neue", sans-serif;
font-weight: ;
text-transform: ;
font-style: ;
text-align: ;
width: ;
margin: 4vw;
}

hr {
  height: .5vw;
  color: black;
  background-color: black;
  border: none;
  border-radius: 0em;
  margin-bottom: 5vw;
}

h1 {
  font-size: 5vw;
  text-align: left;
}

img {
  width: 100%;
  border-radius: .5em;
  box-shadow: 0 1vw black;
  margin-bottom: 4%;
}

.h1 {
  font-weight: bold;
  font-size: 3vw;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.h2 {
  font-size: 2vw;
  font-weight: bold;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 2em;
}

.h3 {
  font-size: 2vw;
  font-weight: normal;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.cont-left {
  width: 47%;
  margin-bottom: 5%;
  float: left;
  overflow: hidden;
}

.cont-right {
  width: 47%;
  margin-bottom: 5%;
  float: right;
  overflow: hidden;
}
